body {
    color: blueviolet;
}

h1 {
    text-align: center;
}

h2 {
    text-align: right;
}

h1 {
    font-weight: 700;
    text-decoration: rgb(211, 15, 123) underline;
    letter-spacing: 10px;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
}
.first {
    font-size: large;
    text-decoration: green underline;
}

#second {

    font-size: medium;
    text-decoration: aqua wavy underline;
}